# {{ ansible_managed }}
[mariadb]
datadir = {{ mariadb.data_dir | default('/var/lib/mysql/', true) }}
general_log_file = {{ mariadb.log_dir | default('/var/log/mariadb', true) }}/mariadb.log
general_log = 1
log-error = {{ mariadb.log_dir | default('/var/log/mariadb', true) }}/mariadb_error.log
log_bin = {{ mariadb.log_dir | default('/var/log/mariadb', true) }}/mariadb_bin
port = {{ mariadb.port | default('3306', true) }}
